# idea stuff
.idea/*
.idea/

# Jupyter stuff
.ipynb_checkpoints/
.ipynb_checkpoints/*

# Cython stuff (pycache)
data/__pycache__/
minos/__pycache__/
modules/__pycache__/
minos/*/__pycache__/
*.pyc
*/*.pyc
*/*/*.pyc

# R Stuff
.Rhistory

# OSX files
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store

# data folders generated in code
data/*/*.csv
data/*.csv
data/final_US/cross_validation/*
# R transitions objects and coefficient files
data/transitions/*coefficients.txt
data/transitions/*.rds
data/transitions/*/*/*.rds
data/transitions/*/*.rds
data/transitions/*/*coefficients.txt
!data/transitions/doNotDelete.txt
data/transitions/*
data/transitions/*/*
data/transitions/*/*/*

# build stuff
build/
dist/
minos.egg-info/

# outputs
output/*
output/*/*
output/*/*/*

# logs
test.log

# testing
testing/
testing/*
# just for time being remove the tests and data (not in use currently)
tests/
tests/data/*

# R project files have US data in them. need removing.
.Rproj.user
Minos.Rproj
.RData

# Knitted R notebook files
minos/validation/*.html
minos/outcomes/*.html
minos/testing/*.html

# rob phd data
papers/phd1/data/*

# Chris' data
persistent_data/ADULT*.csv
persistent_data/Fertility/
persistent_data/Fertility/*
persistent_data/Mortality/
persistent_data/Mortality/*
persistent_data/HH2011PopEst2020S_population.csv
persistent_data/Ind2011PopEst2020S_population.csv

# conda env.
conda_minos

# slurm logs
logs/*

# US raw files
UKDA-6614-stata
data/UKDA-6614-stata

# Robs paper folders
papers/

# Plots (can be made by the model so should not be saved on git)
plots/
plots/*

# HR 21/12/22 Windows utils stuff to ignore
minos/windowsutils/output/
minos/windowsutils/output/*

# LA 30/1/24
# spatial data files
persistent_data/spatial_data/*
# testing notebooks
minos/testing/*.Rmd
# image files creates by RNotebooks (we can use the html file generated instead of the individual files)
minos/validation/*_files/
minos/testing/*_files/
# python notebooks for testing
notebooks/equivalent_income_test.ipynb
notebooks/testing_scottish_sample.ipynb
notebooks/hh_composition_composite.ipynb
notebooks/new_housing_composite.ipynb
notebooks/testing_new_transition_vars.ipynb
notebooks/equivalent_income.ipynb
