# idea stuff
.idea/*
.idea/

# Cython stuff (pycache)
data/__pycache__/
minos/__pycache__/
modules/__pycache__/
minos/*/__pycache__/
*.pyc
*/*.pyc
*/*/*.pyc

# R Stuff
.Rhistory

# OSX files
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store

# data folders generated in code
data/*/*.csv
data/*.csv
# R transitions objects and coefficient files
data/transitions/*coefficients.txt
data/transitions/*.rds
data/transitions/*/*/*.rds
data/transitions/*/*.rds
data/transitions/*/*coefficients.txt

# build stuff
build/
dist/
minos.egg-info/

# outputs
output/*

# logs
test.log

# testing
testing/
testing/*
# just for time being remove the tests and data (not in use currently)
tests/
tests/data/*

# R project files have US data in them. need removing.
.Rproj.user
Minos.Rproj
.RData
.Rhistory

# Plots and stuff


# rob phd data
papers/phd1/data/*

# Chris' data
persistent_data/ADULT*.csv

# conda env.
conda_minos

# slurm logs
logs/*

# US raw files
UKDA-6614-stata
data/UKDA-6614-stata

# Robs paper folders
papers/

# Plots (can be made by the model so should not be saved on git)
plots/
plots/*
